Repository sbusanelli/TLSAIAgent: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, go-test, go-mod-tidy

go-build:
  name: Go build
  description: Verify Go code compiles
  entry: bash -c 'go build -v ./...'
  language: system
  pass_filenames: false
  stages:
  - commit

go-test:
  name: Go test
  description: Run Go tests
  entry: bash -c 'go test -race -v ./... -timeout=10s'
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy:
  name: Go mod tidy
  description: Check if go.mod is tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  stages:
  - commit

docs: add pre-commit hooks implementation summary
  PRE_COMMIT_IMPLEMENTATION.md
Due: none

docs: update pre-commit implementation to focus on TLSAIAgent
  PRE_COMMIT_IMPLEMENTATION.md
Due: none

Remove all CodeRabbit references and files
  .github/CODEOWNERS
  .github/CODERABBIT_SETUP.md
  .github/INTEGRATION_CHECKLIST.md
  .github/ISSUE_TEMPLATE/coderabbit-review.md
  .github/README.md
  .github/coderabbit.yaml
  .github/workflows/coderabbit.yml
  CODERABBIT_ANALYSIS.md
  CODERABBIT_FINDINGS.md
  CODERABBIT_INTEGRATION.md
  CODERABBIT_REVIEW.md
  COMPLETION_CHECKLIST.md
  PROJECT_SETUP_COMPLETE.md
  coderabbit.yaml
Due: none

Transform into comprehensive performance benchmark
  README.md
  docs/performance-analysis.md
  go-implementation/benchmark.go
  go-implementation/go.mod
  go-implementation/main.go
  java-implementation/pom.xml
  java-implementation/src/main/java/com/benchmark/BenchmarkUtils.java
  java-implementation/src/main/java/com/benchmark/ComparisonRunner.java
  java-implementation/src/main/java/com/benchmark/TraditionalThreadsBenchmark.java
  java-implementation/src/main/java/com/benchmark/VirtualThreadsBenchmark.java
Due: go-build, go-test, go-mod-tidy

Add comprehensive test suite to TLS Agent
  Makefile
  benchmark_test.go
  docs/testing-guide.md
  integration_test.go
  internal/agent/agent_test.go
  internal/tlsstore/tlsstore_test.go
Due: go-build, go-test

Add enterprise-grade deployment setup for TLSAIAgent
  .github/workflows/dependency-update.yml
  .github/workflows/deploy.yml
  .github/workflows/monitoring.yml
  .github/workflows/security-scan.yml
  Dockerfile
  docker-compose.yml
  docs/deployment-guide.md
  k8s/deployment.yaml
  k8s/ingress.yaml
  k8s/namespace.yaml
Due: none

📄 Add MIT license
  LICENSE
Due: none

fix(ci): unblock pre-commit CI by fixing invalid hook manifests
  .github/CODEOWNERS_README.md
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .secrets.baseline
  FEATURES.md
  PRE_COMMIT_SETUP.md
  go.mod
  go.sum
  internal/agent/agent.go
  internal/tlsstore/loader.go
  internal/tlsstore/store.go
  test-hot-reload.sh
Due: go-build, go-test, go-mod-tidy

fix(ci): update monitoring workflow - build target and artifact actions
  .github/workflows/monitoring.yml
Due: none

fix(ci): improve monitoring workflow reliability
  .github/workflows/monitoring.yml
Due: none

feat(ci): implement environment promotion pipeline
  .env.dev
  .env.production
  .env.staging
  .github/workflows/environment-promotion.yml
  Makefile
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.staging.yml
  docs/ENVIRONMENT_PROMOTION.md
  scripts/promote.sh
Due: none

fix(security): remove hardcoded passwords from docker-compose files
  .github/workflows/dependency-update.yml
  .github/workflows/deploy.yml
  .github/workflows/environment-promotion.yml
  .github/workflows/monitoring.yml
  .github/workflows/security-scan.yml
  .pre-commit-config.yaml
  .secrets.baseline
  README.md
  benchmark_test.go
  docker-compose.dev.yml
  docker-compose.staging.yml
  docker-compose.yml
  docs/ENVIRONMENT_PROMOTION.md
  docs/deployment-guide.md
  docs/performance-analysis.md
  go-implementation/benchmark.go
  go-implementation/main.go
  integration_test.go
  internal/tlsstore/tlsstore_test.go
  java-implementation/pom.xml
  java-implementation/src/main/java/com/benchmark/BenchmarkUtils.java
  java-implementation/src/main/java/com/benchmark/ComparisonRunner.java
  java-implementation/src/main/java/com/benchmark/TraditionalThreadsBenchmark.java
  java-implementation/src/main/java/com/benchmark/VirtualThreadsBenchmark.java
  k8s/deployment.yaml
  k8s/ingress.yaml
  scripts/promote.sh
Due: go-build, go-test

fix(test): correct goroutine syntax in agent_test.go
  internal/agent/agent_test.go
Due: go-build, go-test

fix(test): add missing () to all goroutine closings
  internal/agent/agent_test.go
Due: go-build, go-test

fix(test): correct tlsstore test API usage
  internal/tlsstore/tlsstore_test.go
Due: go-build, go-test

fix(test): resolve remaining compilation errors
  benchmark_test.go
Due: go-build, go-test

fix(test): resolve final compilation errors
  benchmark_test.go
  internal/agent/agent_test.go
  internal/tlsstore/tlsstore_test.go
Due: go-build, go-test

fix(test): comment out undefined State methods
  internal/agent/agent_test.go
Due: go-build, go-test

fix(test): resolve final syntax errors
  benchmark_test.go
Due: go-build, go-test

fix(test): resolve final compilation errors
  benchmark_test.go
Due: go-build, go-test

fix(test): comment out remaining undefined methods
  benchmark_test.go
Due: go-build, go-test

fix(ci): disable automatic workflow triggers during debugging
  .github/workflows/environment-promotion.yml
Due: none

Fix all test files and resolve API mismatches
  integration_test.go
  internal/agent/agent.go
  internal/agent/agent_test.go
  internal/tlsstore/tlsstore_test.go
Due: go-build, go-test

feat: add IsValid method to check certificate validity
  internal/tlsstore/store.go
  internal/tlsstore/tlsstore_test.go
Due: go-build, go-test

security: add comprehensive SAST analysis report
  SAST_REPORT.md
Due: none

fix: update actions/upload-artifact from v3 to v4
  .github/workflows/dependency-update.yml
  .github/workflows/deploy.yml
  .github/workflows/security-scan.yml
Due: none

docs: update README.md with TLSAIAgent-specific documentation
  README.md
Due: none

fix: update Node.js version from 20 to 22 in security-scan workflow
  .github/workflows/security-scan.yml
Due: none

fix: update codecov action from v3 to v4 to resolve Node.js deprecation
  .github/workflows/deploy.yml
Due: none

fix: resolve gosec installation Git authentication issue
  .github/workflows/deploy.yml
Due: none

fix: use GitHub releases for gosec installation
  .github/workflows/deploy.yml
Due: none

fix: resolve gosec Git authentication issues across all workflows
  .github/workflows/environment-promotion.yml
  .github/workflows/pre-commit.yml
  .github/workflows/security-scan.yml
Due: none

fix: complete gosec Git authentication fixes across all files
  .github/workflows/pre-commit.yml
  build.sh
Due: none

fix: improve GitHub Actions notifications with better error handling and messaging
  .github/workflows/dependency-update.yml
  .github/workflows/deploy.yml
  .github/workflows/environment-promotion.yml
  .github/workflows/monitoring.yml
  .github/workflows/security-scan.yml
Due: none

fix: correct dependency notification output references
  .github/workflows/dependency-update.yml
Due: none

Path conditions:
  go-build: any of: \.go$, but not: (?x)^(
  vendor/|
  .git/|
  bin/
)

  go-test: any of: \.go$, but not: (?x)^(
  vendor/|
  .git/|
  bin/
)

  go-mod-tidy: any of: go.mod, but not: (?x)^(
  vendor/|
  .git/|
  bin/
)

